{% extends "base.html" %} 
{% block content %}
<h1> About Us </h1>
    <picture>
        <source srcset="..." type="image/svg+xml">
        <img src="..." class="img-fluid img-thumbnail" alt="...">
    </picture>
    <p class="lead"> Fullerton Black Market is a site for helping members of the
        California State University of Fullerton (CSUF), both students
        and faculty save money on school necessities. We wanted to help 
        those who are having financial difficulty and let them save more 
        of their own money. We offer discounts to students and faculties
        so long as they have a valid CSUF email. <p>

    <p class="lead"> Project Idea: The idea of the project stemmed from having to make an 
        ecommerce website and what we thought about was how to help students in need <p>
{% endblock %}